## introduction to python

In [15]:
import numpy as np

In [16]:
A =  np.random.normal(25.0 , 5.0 ,10)

In [17]:
A

array([26.6189538 , 18.1789677 , 29.70450304, 24.56799888, 25.31894359,
       21.5242528 , 23.34001628, 20.57650054, 28.00062781, 25.28810455])

In [18]:
(age , income) = "32,12000".split(',')

In [19]:
age

'32'

## Dictionaries

In [21]:
captains = {}
captains['Enterprise'] = "Kirk"
captains['Enterprise D'] = "Picard"
captains['Voyager'] = "Janeway"

print(captains['Voyager'])

Janeway

In [27]:
print(captains.get('gdfgdfg'))

None

## iterate over dictionary

In [30]:
for ship in captains:
    print(ship + ": " +captains[ship])

Enterprise: Kirk
Enterprise D: Picard
Voyager: Janeway

## Lambda function

In [17]:
c = lambda x: x + 2

In [18]:
c(5)

7

## boolean expression

In [20]:
print(1 is 1)

True

In [21]:
print(1 is 3)

False

In [24]:
print(True or False)

True

In [25]:
print(1 == 3)

False

In [26]:
str1=" "*2

In [27]:
str1

'  '

## pattern practice given in office

# pattern 1 # print all

In [ ]:
line = 10
for i in range(1,lines+1):
    temp = lines-i
    print(" "*temp + "* "*i)

# pattern 2 # only odd numbers are printed

In [ ]:
line =10

for i in range(1,lines+1):
    temp = lines-i
    if (i%2==1):
        print(" "*temp + "* "*i)